<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Testimiskeskkond</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body>
    <div class="container">

        <div th:include="fragments/header :: header"></div>

        <div class="container text-center">
            <h2>Testimiseks palun logige sisse!</h2>
        </div>

    </div>
</body>

</html>
