<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Relvaloa testid</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body>
<div class="container">
    <div th:include="fragments/header :: header"></div>

    <div class="traffic">


        <div class="container text-center">
            <h2>Õpid relvaeksamiks?</h2>
            <a class="btn btn-info btn-lg" href="/firearmsTest" th:if="!${isTest}">Alusta testimist</a>
        </div>

        <span th:if="${isTest}">
            <form th:action="@{/submitFirearmsTest}" th:object="${testFormHelper}" method="post">
                <input type="hidden" th:field="*{testId}"/>
                <div th:each="question, i : *{questions}">
                    <input type="hidden" th:field="*{questions[__${i.index}__].questionId}" />

                    <span th:text="${i.index+1}"></span>.
                    <span th:text="${question.text}" style="font-weight: bold; padding-bottom: 5px;"></span>

                    <ul>
                        <li th:each="option, j : ${question.options}">
                            <input type="hidden" th:field="*{questions[__${i.index}__].options[__${j.index}__].optionId}" />
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" th:field="*{questions[__${i.index}__].options[__${j.index}__].guess}" />
                                    <span th:text="${option.text}"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="text-center" style="padding-bottom: 30px; padding-top: 10px;">
                    <button class="btn btn-success btn-lg" th:if="${isTest}" type="submit">Lõpeta</button>
                </div>
            </form>
        </span>


    </div>

</div>
</body>
</html>