<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Tulemused</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body>
<div class="container">
    <div th:include="fragments/header :: header"></div>

    <div class="results">
        <div th:if="!${showList}">   <!--   kuvab ühe testi tulemusi results alt -->
            <span>Testi esitamise aeg: </span><span th:text="${submittedTest.getFormattedSubmitDateTime()}"></span>

            <div class="text-center" style="padding-top: 10px; padding-bottom: 10px;">
                <span th:text="${submittedTest.getCorrectAnswerCounter()}"></span> /
                <span th:text="${submittedTest.getWrongAnswerCounter() + submittedTest.getCorrectAnswerCounter()}"></span>
            </div>


            <div th:each="question, i : ${submittedTest.submittedQuestions}">
                <span th:text="${i.index + 1}"></span>.
                <span th:text="${question.question.text}" style="font-weight: bold; padding-bottom: 5px;"></span>

                <ul>
                    <li th:each="answer, j : ${question.submittedAnswers}">
                        <input th:if="${answer.guess}" th:type="checkbox" disabled="disabled" checked="checked"/>
                        <input th:if="!${answer.guess}" th:type="checkbox" disabled="disabled"/>
                        <label th:text="${answer.option.text}" style="font-weight: normal"></label>
                        <i class="glyphicon glyphicon-ok text-success" th:if="${answer.guessIsCorrect and answer.guess }"></i>
                        <i class="glyphicon glyphicon-remove text-danger" th:if="!${answer.guessIsCorrect}"></i>
                    </li>
                </ul>
            </div>
        </div>


        <table th:if="${showList}" class="table table-hover">  <!-- list testidest -->
            <thead>
                <tr>
                    <td style="font-weight: bold;">Esitamise aeg</td>
                    <td style="font-weight: bold;">Testi nimi</td>
                    <td style="font-weight: bold;">Tulemus</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="submittedTest : ${submittedTests}">
                    <td th:text="${submittedTest.getFormattedSubmitDateTime()}"></td>
                    <td th:text="${submittedTest.test.name}"></td>
                    <td>
                        <span th:text="${submittedTest.getCorrectAnswerCounter()}"></span> /
                        <span th:text="${submittedTest.getWrongAnswerCounter() + submittedTest.getCorrectAnswerCounter()}"></span>
                    </td>
                    <td><a th:href="@{'/results/' + ${submittedTest.id}}">Näita tulemusi</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>