<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Liiklustestid</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body>
<div class="container">
    <div th:include="fragments/header :: header"></div>

    <div class="container text-center">
        <h2>Õpid liiklema?</h2>
        <button class="btn btn-info btn-lg">Alusta testimist</button>
    </div>

</div>
</body>
</html>